body{
    background:#87ceeb;
    text-align:center;
    font-family:Arial;
}

#game{
    width:1000px;
    height:400px;
    margin:auto;
    border:4px solid black;
    background:linear-gradient(skyblue,white);
    position:relative;
    overflow:hidden;
}

#player{
    width:60px;
    height:60px;
    background:red;
    position:absolute;
    bottom:0;
    left:100px;
}

.obstacle{
    width:40px;
    height:80px;
    background:black;
    position:absolute;
    bottom:0;
}
